<div class="wrapper-page"
     style="display: block; margin: 0 auto; width: 100%; max-width: 1260px; font-size: 21px; line-height: 1.5;">
    <div style="display: block; position: relative; text-align: center;">
        <p style="font-weight: bold; font-size: 22px;">Повноекранний смартфон</p>
        <p style="font-size: 22px;">Чудовий дизайн з тонкими рамками</p>
        <p style="text-align: left;">Повноекранний смартфон (невеликі рамки) Redmi 6 має чудовий дизайн, надійну
            конструкцію і масу інших особливостей:</p>
        <p style="text-align: left; padding-left: 2%">
        <ul>
            <li>Великий екран;</li>
            <li>8-ядерний процесор;</li>
            <li>Якісні камери;</li>
            <li>Акумулятор ємністю 3000 мАг з енергозберігаючою технологією.</li>
        </ul>
        </p>
        <img style="width: 100%; height: auto;" src="https://i.eldorado.ua/goods_images/1038946/6259185-1542374747.jpg">
    </div>
    <div style="display: block; position: relative; text-align: center;">
        <p style="font-weight: bold; font-size: 22px;">Зручне співвідношення сторін екрану</p>
        <p style="font-size: 22px;">Широкий кут огляду</p>
        <p style="text-align: left;">Раніше необхідно було вдивлятися в зображення на екрані, щоб розібрати різні
            деталі. Закруглені кути девайса, а також збільшення співвідношення сторін дисплея до 18:9 в Redmi 6 -
            дозволило забезпечити більш широкий кут огляду. Завдяки більш широкому куту огляду, високому показнику
            щільності пікселів на дюйм - 295 PPI, а також контрастності - 1000:1 і відмінній передачі кольору екрана, ви
            зможете розгледіти навіть дрібні елементи з великої відстані, що збереже очі від перенапруги в процесі
            гейминга або при перегляді відео.</p>
        <img style="width: 100%; height: auto;" src="https://i.eldorado.ua/goods_images/1038946/6259181-1542374747.jpg">
    </div>
    <div style="display: block; position: relative; text-align: center;">
        <p style="font-weight: bold; font-size: 22px;">Втілення потужності та продуктивності</p>
        <p style="font-size: 22px;">8-ядерний процесор MediaTek Helio P22</p>
        <p style="text-align: left;">Redmi 6 працює на потужному чіпсеті MediaTek Helio P22, в якому використовується
            8-ядерний процесор. Чіпсет створений по 12-нм техпроцесу, що дозволяє процесору з максимальною тактовою
            частотою 2 ГГц, мати зменшене енергоспоживання в порівнянні з іншими моделями з подібною робочою
            частотою.</p>
        <p style="text-align: left;">Крім того, продуктивність регулюється автоматично залежно від виконуваних завдань,
            що безсумнівно допомагає економити заряд аккмумулятора девайса. Стабільна робота без зависань - цілком під
            силу чудовому смартфону Redmi 6.</p>
        <img style="width: 100%; height: auto;" src="https://i.eldorado.ua/goods_images/1038946/6259177-1542374747.jpg">
    </div>
    <div style="display: block; position: relative; text-align: center;">
        <p style="font-weight: bold; font-size: 22px;">Якісні селфі</p>
        <p style="font-size: 22px;">5 Мп фронтальна камера з функцією "Smart Beauty"</p>
        <p style="text-align: left;">За забезпечення гарної якості портретної зйомки відповідає 5 Мп фронтальна камера.
            Красиве селфі-фото з гарною передачею кольору, реалістичністю - переваги, які вмістила себе портретна
            камера. Функція автоматичної корекції зовнішності (Smart Beauty - автоматично обробляє фото надаючи обличчю
            здоровий колір) - привнесе частку додаткового витонченості до і без того чудових знімків.</p>
        <img style="width: 100%; height: auto;" src="https://i.eldorado.ua/goods_images/1038946/6259169-1542374747.jpg">
    </div>
    <div style="display: block; position: relative; text-align: center;">
        <p style="font-weight: bold; font-size: 22px;">Подвійна основна камера
        </p>
        <p style="font-size: 22px;">Вражаюча апертура
        </p>
        <p style="text-align: left;">Тильна подвійна камера отримала два модуля: на 12 Мп (зі світлосилою f/2.2) і на 5
            Мп (зі світлосилою f/2.2) забезпечить збалансовану колірну гамму знімка з відсутністю шумів. Тильна камера
            девайса, дозволить зафіксувати та розгледіти навіть дрібні деталі в умовах хорошого освітлення.</p>
        <img style="width: 100%; height: auto;" src="https://i.eldorado.ua/goods_images/1038946/6259167-1542374747.jpg">
        <p style="text-align: left;">За допомогою встановлених режимів і можливосі вносити персональні налаштування, ви
            зможете підбирати найбільш оптимальні ефекти і фільтри для якісної зйомки в різних умовах.</p>
        <img style="width: 100%; height: auto;" src="https://i.eldorado.ua/goods_images/1038946/6259173-1542374747.jpg">
    </div>
    <div style="display: block; position: relative; text-align: center;">
        <p style="font-weight: bold; font-size: 22px;">Акумулятор з оптимізованим енергоспоживанням</p>
        <p style="text-align: left;">Смартфон Redmi 6 оснащений акумулятором ємністю 3000 мАг, який завдяки оптимізації
            на апаратному рівні, енергозберігаючому процесору і графічному чіпсету GPU PowerVR GE8320, забезпечить
            тривалу роботу смартфона без необхідності підзарядки.</p>
        <img style="width: 100%; height: auto;" src="https://i.eldorado.ua/goods_images/1038946/6259183-1542374747.jpg">
    </div>
    <div style="display: block; position: relative; text-align: center;">
        <p style="font-weight: bold; font-size: 22px;">Всебічна перевірка якості</p>
        <p style="font-size: 22px;">Надійний захист всіх компонентів</p>
        <p style="text-align: left;">При створенні смартфона Redmi 6, застосовувалися передові технології виробництва.
            Виняткова надійність та стійкість скла до механічних впливів, унікальна технологія полірування, скруглення і
            потовщення кутів - підкреслюють особливий підхід при виробництві кожного Redmi 6. Він просто створений для
            управління однією рукою, адже товщина смартфона лише 8.3 мм.</p>
        <img style="width: 100%; height: auto;" src="https://i.eldorado.ua/goods_images/1038946/6259165-1542374747.jpg">
    </div>
    <div style="display: block; position: relative; text-align: center;">
        <p style="font-weight: bold; font-size: 22px;">Чотири колірних рішення</p>
        <p style="text-align: left;">Виходячи з різноманітних переваг користувачів, виробник підготував Redmi 6 в п'яти
            кольорах. Підберіть найбільш ефектний колір смартфона, який вам найбільше імпонує.</p>
        <img style="width: 100%; height: auto;" src="https://i.eldorado.ua/goods_images/1038946/6259179-1542374747.jpg">
    </div>
    <div style="display: block; position: relative; text-align: center;">
        <p style="font-weight: bold; font-size: 22px;">Блискавична ОС MIUI 9</p>
        <p style="font-size: 22px;">Плавна та швидка робота</p>
        <p style="text-align: left;">Швидкий запуск додатків, програм, ігор, оптимізоване енергоспоживання, а також
            швидкий доступ до мережі інтернет - все це під силу ОС MIUI 9 і ОС Android 8.1 Oreo, які розроблені для
            забезпечення максимального рівня комфорту при користуванні мобільним девайсом. Крім плавності та швидкості
            роботи, MIUI 9 забезпечує ще й небувалу зручність: тепер на одному екрані можна одночасно запускати два
            додатки. Наприклад, можна спілкуватися в месенджері та дивитися фільм.</p>
        <img style="width: 100%; height: auto;" src="https://i.eldorado.ua/goods_images/1038946/6259171-1542374747.jpg">
        <p style="text-align: left;">З функціоналом смартфона зможе розібратися як доросла людина, так і дитина.</p>
        <img style="width: 100%; height: auto;" src="https://i.eldorado.ua/goods_images/1038946/6259175-1542374747.jpg">
    </div>
</div>